// fonts
$font-title: 'Roboto Slab',
serif;
$font-text: 'Roboto',
sans-serif;

// colors
$color-white     : #fff;
$color-orange    : #f26002;
$color-lightblue : #8ccbea;
$color-footer    : #304268;
$color-text      : #000;
$color-text-2    : #4a4a4a;
$color-background: #eff9ff;
$color-menu      : #0271bc;

//size
$default-font-size: 16;