.information {
  display: flex;
  align-items: center;
  width: 48px;
  height: 64px;
  padding: 16px 8px;
  border-radius: 16px;
  background: $secundary-color;
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__images {
    position: relative;

    &--bulb-off {
      width: 32px;
      height: 32px;
      position: absolute;
    }

    &--bulb-on {
      width: 32px;
      height: 32px;
      opacity: 0;
    }
  }

  &__text {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    color: $black-color;
    visibility: hidden;
  }

}

.animation-active {
  animation: box-background 0.5s linear forwards;
}

.text-active {
  animation: text 0.8s linear forwards;
}

.bold-off-active {
  animation: bulb-off 1s linear forwards;
}

.bold-on-active {
  animation: bulb-on 1s linear forwards;
}

@keyframes box-background {
  from {
    width: 48px;
    height: 64px;
    align-items: center;
  }

  to {
    align-items: flex-start;
    height: 100%;
    width: 100%;
  }
}

@keyframes text {
  0% {
    position: fixed;
    opacity: 0;
    z-index: -5;
    visibility: hidden;
  }

  99% {
    position: fixed;
    opacity: 0;
    z-index: -5;
    height: 100%;
    visibility: visible;
  }

  100% {
    opacity: 1;
    height: 100%;
    visibility: visible;
  }
}

@keyframes bulb-on {
  0% {
    opacity: 0;
  }

  79% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bulb-off {
  0% {
    opacity: 1;
  }

  79% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}