.button {
  display: block;
  margin-left: auto;
  height: 40px;
  padding: 13px 39px;
  border-radius: 48px;
  color: $white-color;
  background: $main-color-light;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.change-color {
  background: $main-color;
}

.dark-color {
  background: $main-color-dark;
}