.input {
  width: 100%;
  padding: 12px 32px;
  border-radius: 24px;
  border: 1.5px solid $main-color;
  background: $white-color;

  &::placeholder {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    color: $gray-color;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.label-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}