.header {
  width: 100vw;
  padding: 16px 20px;
  background-color: $main-color;
  border-radius: 16px;
  color: $white-color;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;

    &.true {
      height: auto;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 300;

    &--br {
      display: block;
      height: 10px;
    }

    &--subtitle {
      font-size: 30px;
      font-weight: 700;
    }
  }

}